html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  cursor: url('../images/ice-cream.png'),
    auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.hidden {
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
}