*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
