@import "./base/common";
@import "./utils/variables";
@import "./mixins/custom-text";
@import "./base/reset";
@import "./components/customer-reviews";
@import './base/common';
@import './utils/variables';
@import './base/reset';

@import './components/hero';
@import './components/header';
@import './components/nav';
@import './components/mobile-menu';

@import './components/products';
@import './components/gallery';
@import './components/advantages';
@import './components/footer';