body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

.section-ice {
  max-width: 1280px;
  padding: 121px 0px 98px 0px;
  margin-left: auto;
  margin-right: auto;
}

.container-ice {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container-ice {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-ice {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container-ice {
    width: 1280px;
    padding-left: 114px;
    padding-right: 112px;
  }
}

.label {
  font-family: Titan One, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 30px;
  }
}

.section-title-ice {
  font-size: 34px;
  font-family: Titan One, sans-serif;
  line-height: 1.15;
  color: #d41443;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-title-ice {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title-ice {
    font-size: 58px;
  }
}

.products {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .products {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 2 * 20px) / 3);
  }
  .products__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .products__item:not(:last-child) {
    margin-right: 24px;
  }
}

.products__container--icecream {
  position: relative;
  margin-top: 144px;
}
@media screen and (min-width: 768px) {
  .products__container--icecream {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container--icecream {
    margin-top: 259px;
  }
}

.products__container--icecoffee {
  position: relative;
  margin-top: 130px;
}
@media screen and (min-width: 768px) {
  .products__container--icecoffee {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container--icecoffee {
    margin-top: 259px;
  }
}

.products__container--milkshakes {
  position: relative;
  margin-top: 129px;
}
@media screen and (min-width: 768px) {
  .products__container--milkshakes {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container--milkshakes {
    margin-top: 259px;
  }
}

.products__card {
  border-radius: 24px;
  height: 485px;
  padding-left: 41px;
  padding-right: 39px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .products__card {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__card {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .products__card {
    height: 525px;
    padding-left: 44px;
    padding-right: 45px;
  }
}
.products__card--icecream {
  background-color: #ffb8ca;
}
.products__card--icecoffee {
  background-color: #f0d1a5;
}
.products__card--milkshakes {
  background-color: #c2e297;
}

.products__card--icecream::before {
  content: "";
  background-image: url(../img-IceCream/home-pic1-m@2x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(-10%, -45%);
}
@media screen and (min-width: 768px) {
  .products__card--icecream::before {
    background-image: url(../img-IceCream/home-pic1-t@2x.png);
    height: 226px;
    width: 220px;
    transform: translate(-5%, -46%);
  }
}
@media screen and (min-width: 1200px) {
  .products__card--icecream::before {
    background-image: url(../img-IceCream/home-pic1-d@2x.png);
    height: 335px;
    width: 335px;
    transform: translate(-13%, -63%);
  }
}

.products__card--icecoffee::before {
  content: "";
  background-image: url(../img-IceCream/home-pic2-m@2x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(-10%, -45%);
}
@media screen and (min-width: 768px) {
  .products__card--icecoffee::before {
    background-image: url(../img-IceCream/home-pic2-t@2x.png);
    height: 233px;
    width: 220px;
    transform: translate(-5%, -46%);
  }
}
@media screen and (min-width: 1200px) {
  .products__card--icecoffee::before {
    background-image: url(../img-IceCream/home-pic2-d@2x.png);
    height: 335px;
    width: 337px;
    transform: translate(-13%, -63%);
  }
}

.products__card--milkshakes::before {
  content: "";
  background-image: url(../img-IceCream/home-pic3-m@2x.png);
  background-position: center;
  display: inline-block;
  height: 252px;
  width: 249px;
  background-size: contain;
  position: absolute;
  transform: translate(-10%, -45%);
}
@media screen and (min-width: 768px) {
  .products__card--milkshakes::before {
    background-image: url(../img-IceCream/home-pic3-t@2x.png);
    height: 224px;
    width: 220px;
    transform: translate(-5%, -46%);
  }
}
@media screen and (min-width: 1200px) {
  .products__card--milkshakes::before {
    background-image: url(../img-IceCream/home-pic3-d@2x.png);
    height: 335px;
    width: 335px;
    transform: translate(-13%, -63%);
  }
}

.products__title {
  font-family: Titan One, sans-serif;
  font-size: 20px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  padding-top: 161px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products__title {
    padding-top: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    padding-top: 163px;
  }
}

.products__text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products__text {
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 1.8;
  }
}

.products__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: transparent;
  width: 40px;
  height: 40px;
  background-image: url(../img-IceCream/arrow-right.png);
  cursor: pointer;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products__button {
    margin-bottom: 50px;
  }
}

.products__text::before {
  content: "";
  display: block;
  background-position: center;
  width: 26px;
  height: 6px;
  background-image: url(../img-IceCream/points.svg);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.gallery__img {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #fff 60%, #fff5f6 60%);
}/*# sourceMappingURL=main.css.map */