$main-color__bright-pink: #d41443;
$main-color__pale-pink: #ffa5ba;
$main-color__white: #fff;
$main-color__grey: #907e82;
$main-color__black: #000;
$main-color__peach: #ffb8ca;
$main-color__coffee: #f0d1a5;
$main-color__green: #c2e297;
$background-color__pink: #ffb8ca;
$background-color__white: #e5e5e5;
$background-color__ivory: #fff5f6;
$icons-color__pink: #fea5bb;
$mob-menu-background: #e17992;
$primary-button-hover: #c7133e;
$secondary-button-hover: #ecebeb;
$mob-menu-border: #e18298;

// Button shadow
$button-shadow: rgba(255, 165, 186, 0.6) 0px 0px 5px 4px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

%space-between-content {
  display: flex;
  justify-content: space-between;
}

%column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

%space-around-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

%width-height {
  width: 100%;
  height: 100%;
}
%link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --slider-text-cl: #000000;
  --slider-decor-dots-cl: #c7133e;
  --paper-bg: #fafafa;
  --slider-bg: #fafafa;
}
