<section id="about" class="about-section ">

    <div class="about-container container">
        <h2 class="about-section__label">tradition and love</h2>
        <h1 class="about-section__title">how it’s made?</h1>

        <div class="about-section__main-info">
            <!-- <img class="about-section__img" srcset="../images/about/home-pic4-1.png 379w, ../images/about/home-pic4-1-2x.png 768w"
                sizes="50vw" sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw"
                src="../images/about/home-pic4-1.png" alt="home-pic-4-1" > -->


                <picture>
                    <source media="(min-width: 320px)" srcset="./images/about/home-pic4-1.png 1x, ./images/about/home-pic4-1.png 2x">
                    <img src="./images/about/home-pic4-1.png">
                </picture>

            <div class="about-section__descriptions">
                <p class="about-section__first-description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                    Nam vel justo
                    cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>

                <p class="about-section__second-description">Curabitur lacinia enim at ex blandit, vel pellentesque
                    odio elementum.
                    Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.


                    Aliquam erat volutpat. Aenean accumsan.</p>


                <button type="button" class="about__button" data-modal-open>Read more</button>
            </div>
        </div>

    </div>


</section>