<!-- <h2>Contacts</h2> -->
<div class="container">
    <div class="contact">
        <ul class="contact-list">

            <li class="contact-element">
                <ul class="contact-item">
                    <li class="contact-item--adress">
                        <span class="contact-item__name-cafe">CAFE</span>
                        <span class="contact-item__title">Chicago</span>
                        <p class="contact-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contact-item__line"></div>
                        
                    </li>
                    <li class="contact-item--schedule">
                        <span class="contact-item__day">Monday - Friday</span>
                        <span class="contact-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contact-item__day">Saturday - Sunday</span>
                        <span class="contact-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contact-item__line"></div>
                    </li>
                    <li class="contact-item-contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer__adress__contact">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="footer__adress__contact">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contact-element">
                <ul class="contact-item">
                    <li class="contact-item--adress">
                        <span class="contact-item__name-cafe">FOOD TRUCK</span>
                        <span class="contact-item__title">Los Angeles</span>
                        <p class="contact-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contact-item__line"></div>
            
                    </li>
                    <li class="contact-item--schedule">
                        <span class="contact-item__day">Monday - Friday</span>
                        <span class="contact-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contact-item__day">Saturday - Sunday</span>
                        <span class="contact-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contact-item__line"></div>
                    </li>
                    <li class="contact-item-contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer__adress__contact">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="footer__adress__contact">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contact-element">
                <ul class="contact-item">
                    <li class="contact-item--adress">
                        <span class="contact-item__name-cafe">CAFE</span>
                        <span class="contact-item__title">New York</span>
                        <p class="contact-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contact-item__line"></div>
                    </li>
                    <li class="contact-item--schedule">
                        <span class="contact-item__day">Monday - Friday</span>
                        <span class="contact-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contact-item__day">Saturday - Sunday</span>
                        <span class="contact-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contact-item__line"></div>
                    </li>
                    <li class="contact-item-contacts">
                        <a href="tel:+61(0) 383 766 284" class="footer__adress__contact">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="footer__adress__contact">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
    
        </ul>
    </div>
</div>