<section class="contacts" id="contacts">
    <div class="container contacts-position">
        <h2 class="hidden">Contacts</h2>
        <ul class="contacts-list">
            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-cafe">CAFE</span>
                        <span class="contacts-item__title">Chicago</span>
                        <p class="contacts-item__description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contact-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-food">FOOD TRUCK</span>
                        <span class="contacts-item__title">Los Angeles</span>
                        <p class="contacts-item__description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-cafe">CAFE</span>
                        <span class="contacts-item__title">New York</span>
                        <p class="contacts-item__description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="contacts-buttons">
            <div></div>
            <button type="button" class="contacts-buttons__location" contacts-modal-open> <span class="contacts-buttons__location-text">Our
                    Locations
                </span></button>
            <button type="button" class="contacts-buttons_franchise" contacts-modal-open-franshise> <span
                    class="contacts-buttons_franchise-text">Franchise
                </span></button>
        </div>
    </div>
        <!-- modal window  start -->
        <div class="contacts-backdrop is-hidden" contacts-modal>
            <div class="contacts-modal">
                <div class="modal__close">
                    <button type="button" class="modal__close-button" contacts-modal-close>
                        <svg class="modal__close__link">
                            <use href="./images/contacts-images/modal-icons.svg#modal-icon-x"></use>
                        </svg>
                    </button>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190332.06979881172!2d-87.86155658359377!3d41.808083300000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e314a6d271d0d%3A0xae73687058b6254f!2sRolling%20Chicago%20Cafe!5e0!3m2!1suk!2sua!4v1643755478084!5m2!1suk!2sua"
                    width="306" height="440" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>
        </div>
        <!-- modal window end -->
         <script>
            (() => {
                    const refs = {
                        openModalBtn: document.querySelector('[contacts-modal-open]'),
                        openfranshiseModalBtn: document.querySelector('[contacts-modal-open-franshise]'),
                        closeModalBtn: document.querySelector('[contacts-modal-close]'),
                        closefranshiseModalBtn: document.querySelector('[contacts-modal-close-franshise]'),
                        modal: document.querySelector('[contacts-modal]'),
                    };

                    refs.openModalBtn.addEventListener('click', toggleModal);
                    refs.openfranshiseModalBtn.addEventListener('click', toggleModal);
                    refs.closeModalBtn.addEventListener('click', toggleModal);
                    refs.closefranshiseModalBtn.addEventListener('click', toggleModal);

                    function toggleModal() {
                        refs.modal.classList.toggle('is-hidden');
                    }
                })(); 
        </script>
</section>
