
<section class="contacts" id="contacts">
        <div class="container contacts-position">

        <h2 class="hidden">Contacts</h2>
        <ul class="contacts-list">

            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-cafe">CAFE</span>
                        <span class="contacts-item__title">Chicago</span>
                        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contacts-item__line"></div>

                    </li>
                    <li class="contact-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-food">FOOD TRUCK</span>
                        <span class="contacts-item__title">Los Angeles</span>
                        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contacts-item__line"></div>

                    </li>
                    <li class="contacts-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-element">
                <ul class="contacts-item">
                    <li class="contacts-item--adress">
                        <span class="contacts-item__name-cafe">CAFE</span>
                        <span class="contacts-item__title">New York</span>
                        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item--schedule">
                        <span class="contacts-item__day">Monday - Friday</span>
                        <span class="contacts-item__time">06:00 AM - 10:00 PM</span>
                        <span class="contacts-item__day">Saturday - Sunday</span>
                        <span class="contacts-item__time">08:00 AM - 16:00 PM</span>
                        <div class="contacts-item__line"></div>
                    </li>
                    <li class="contacts-item__contact">
                        <a href="tel:+610383766284" class="contacts-item__contact--tel">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-item__contact--email">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="contacts-buttons">
            <button type="button" class="contacts-buttons__location"> <span class="contacts-buttons__location-text">Our
                    Locations
                </span></button>
            <button type="button" class="contacts-buttons_franchise"> <span
                    class="contacts-buttons_franchise-text">Franchise
                </span></button>
        </div>
        </div>
    </section>
