<section id="customers-reviews" class="customers-reviews-section">

    <div class="container">

        <div class="slider">

            <div class="slide">
                <picture class="photo">
                    <source media='(min-width: 320px)' srcset="/images/customers-reviews/girl1.jpg 1x, /images/customers-reviews/girl1@2x.jpg 2x">
                    <img src="/images/customers-reviews/girl1.jpg" alt="girl1">
                </picture>
                <div class="paper">
                    <div class="pattern">
                        <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                    </div>
                </div>
                <span class="name">Emily, Los Angeles</span>
            </div>

            <div class="slide">
                <picture class="photo">
                    <source media='(min-width: 320px)' srcset="/images/customers-reviews/girl2.jpg 1x, /images/customers-reviews/girl2@2x.jpg 2x">
                    <img src="/images/customers-reviews/girl2.jpg" alt="girl2">
                </picture>
                <div class="paper">
                    <div class="pattern">
                        <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                    </div>
                </div>
                <span class="name">Emily, Los Angeles</span>
            </div>

            <div class="slide">
                <picture class="photo">
                    <source media='(min-width: 320px)' srcset="/images/customers-reviews/girl3.jpg 1x, /images/customers-reviews/girl3@2x.jpg 2x">
                    <img src="/images/customers-reviews/girl3.jpg" alt="girl3">
                </picture>
                <div class="paper">
                    <div class="pattern">
                        <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
                    </div>
                </div>
                <span class="name">Emily, Los Angeles</span>
            </div>

        </div>

    </div>

</section>