<div class="slider">

    <div class="slide">
        <img class="photo" src="/images/customers-reviews/girl1.jpg" alt="girl1">
        <div class="paper">
            <div class="pattern">
                <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </div>
        </div>
        <span class="name">Emily, Los Angeles</span>
    </div>

    <div class="slide">
        <img class="photo" src="/images/customers-reviews/girl2.jpg" alt="girl2">
        <div class="paper">
            <div class="pattern">
                <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </div>
        </div>
        <span class="name">Emily, Los Angeles</span>
    </div>

    <div class="slide">
        <img class="photo" src="/images/customers-reviews/girl3.jpg" alt="girl3">
        <div class="paper">
            <div class="pattern">
                <span class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </div>
        </div>
        <span class="name">Emily, Los Angeles</span>
    </div>

</div>

