<footer>
  <div class="container footer">
    <div class="footer__title">
      <a class="footer__title-one" href="./index.html">homemade ice cream made</a>
      <a class="footer_title-two">with passion</a>
    </div>

    <ul class="footer-icons__block">
      <li class="footer-icons__item">
        <a class="footer-icons__link" href="https://github.com/" target="blank">
          <svg class="footer-icons footer-icons__github" width="32" height="32">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons__item">
        <a class="footer-icons__link" href="https://web.telegram.org/z/" target="blank">
          <svg class="footer-icons footer-icons__telegram" width="32" height="32">
            <use href="./images/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icons__item">
        <a class="footer-icons footer-icons__link" href="https://www.facebook.com" target="blank">
          <svg class="footer-icons__facebook" width="32" height="32">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a class="footer__contact" href="tel:+610383766284">Feel free to contact <span class="footer__phone"> +61 (0) 383
        766 284</span>
    </a>

    <p class="footer__rights"> &#x000A9; 2019 - IceCream. All Rights Reserved.</p>

  </div>
</footer>