
<section class="gallery" id="gallery">
    <div class="gallery__img">

        <picture>
            <!-- <source media="(min-width:1200px)"
                srcset="./images/gallery/gallery-desk.jpg 1x, ./images/gallery/gallery-desk@2x.jpg 2x"> -->
            <source media="(min-width:768px)"
                srcset="./images/gallery/gallery-tab.jpg 1x, ./images/gallery/gallery-tab@2x.jpg 2x">
            <source media="(min-width:480px)"
                srcset="./images/gallery/gallery-desk.jpg 1x, ./images/gallery/gallery-desk@2x.jpg 2x">



            <img  class="gallery__picture" src="./images/gallery/gallery-desk.jpg" alt="picture with icecream">

        </picture>
    </div>
    <div class="gallery-animation">
    <div class="box colum-1">
        <img src="/images/gallery/1.jpg" class="box-img" alt="picture with icecream">
    </div>
    <div class="position colum-2">
    
        <div class="box">
            <img src="/images/gallery/2.jpg" class="box-img" alt="picture with icecream">
        </div>
        <div class="box">
            <img src="/images/gallery/3.jpg" class="box-img" alt="picture with icecream">
        </div>
    </div>
    <div class="position">
        <div class="box-big">
            <img class="big" src="/images/gallery/big.jpg" alt="picture with icecream">
        </div>
        <div class="box">
            <img src="/images/gallery/4.jpg" class="box-img" alt="picture with icecream">
        </div>
    </div>
    <div class="position colum-4">
        <div class="box">
            <img src="/images/gallery/5.jpg" class="box-img" alt="picture with icecream">
        </div>
    
        <div class="box">
            <img src="/images/gallery/6.jpg" class="box-img" alt="picture with icecream">
        </div>
    </div>
    <div class="position colum-5">
        <div class="box">
            <img src="/images/gallery/7.jpg" class="box-img" alt="picture with icecream">
        </div>
        <div class="box">
            <img src="/images/gallery/8.jpg" class="box-img" alt="picture with icecream">
        </div>
    </div>
    <div class="box colum-6">
        <img src="/images/gallery/99.jpg" class="box-img" alt="picture with icecream">
    </div>
</div>
</section>

