<!-- hero start -->
<section class="hero">
    <div class="header">

        <!-- Navigation -->
        <nav class="nav">

            <!-- Logo -->
            <a href="./index.html" class="nav__logo-link">
                <img class="nav__logo" src="./images/header/logo.png" width="200" alt="логотип">
            </a>

            <!-- Menu block -->
            <button class="nav__menu-button" type="button" aria-expanded="false" aria-controls="nav__mobile-menu"
                data-menu-button>
                <svg class="nav__menu-icon" width="20" height="12" aria-label="Переключатель моильного меню">
                    <use class="nav__icon-menu" href="./images/header/symbol-defs.svg#burger"></use>
                    <use class="nav__icon-cross" href="./images/header/symbol-defs.svg#close"></use>
                </svg>
            </button>

            <!-- <div class="nav__mobile-menu" id="nav__mobile-menu" data-menu>
                  <button class="nav__button button" type="button">Buy now</button>
                  <ul class="nav__list">
                    <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="" class="nav__link">About us</a></li>
                    <li class="nav__item"><a href="" class="nav__link">How it’s made?</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Our products</a></li>
                    <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
                  </ul>
                </div> -->

            <div class="mobile-menu" id="nav__mobile-menu" data-menu>
                <div class="mobile-menu__content">
                    <button class="mobile-menu__button button" type="button">Buy now</button>
                    <ul class="mobile-menu__list">
                        <li class="nav__item"><a href="" class="mobile-menu__link">Home</a></li>
                        <li class="nav__item"><a href="" class="mobile-menu__link">About us</a></li>
                        <li class="nav__item"><a href="" class="mobile-menu__link">How it’s made?</a></li>
                        <li class="nav__item"><a href="" class="mobile-menu__link">Our products</a></li>
                        <li class="nav__item"><a href="" class="mobile-menu__link">Contact</a></li>
                    </ul>
                </div>
            </div>

        </nav>

        <div class="container">
            <!-- Hero content -->
            <div class="hero__wrapper">

                <h1 class="hero__title">
                    ice cream <br>
                    made with <br>
                    <span class="hero__title-decoration">passion</span>
                </h1>

                <!-- Hero buttons -->
                <a class="hero__button btn" href="">Products</a>
                <a class="hero__button btn-revers" href="">How it’s made?</a>

                <img class="hero__main-img" width="171" src="./images/header/ice171.png" alt="Моороженное">

            </div>

        </div>
    </div>
</section>
<!-- hero end -->