<section class="section-ice" id="products">
            <div class="container container-ice">
            <p class="label">100% NATURAL</p>
            <h2 class="section-title-ice">PRODUCTS</h2>
            <ul class="products">
                <li class="products__item products__item--icecream">
                    <div class="products__container products__container--icecream">
                    <div class="products__card products__card--icecream">
                        <h3 class="products__title products__title--icecream">ICE CREAM</h3>
                        <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et</p>
                        <button class="products__button" type="button">
                            <svg width="40" height="40">
                                <use href=""></use>
                            </svg>
                        </button>
                    </div>
                    </div>
                </li>
                <li class="products__item products__item--icecoffee">
                    <div class="products__container products__container--icecoffee">
                    <div class="products__card products__card--icecoffee">
                    <h3 class="products__title products__title--icecoffee">ICE COFFEE</h3>
                    <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button class="products__button" type="button">
                        <svg width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                    </div>
                </li>
                <li class="products__item products__item--milkshakes">
                    <div class="products__container products__container--milkshakes">
                    <div class="products__card products__card--milkshakes">
                    <h3 class="products__title products__title--milkshakes">MILKSHAKES</h3>
                    <p class="products__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button class="products__button" type="button">
                        <svg width="40" height="40">
                            <use href=""></use>
                        </svg>
                    </button>
                    </div>
                </li>
            </ul>
        </div>
        </section> 