// $main-color__bright-pink: #d41443;
// $main-color__pale-pink: #ffa5ba;
// $main-color__white: #fff;
// $main-color__grey: #907e82;
// $main-color__black: #000;
// $main-color__peach: #ffb8ca;
// $main-color__green: #c2e297;
// $background-color__pink: #ffb8ca;
// $background-color__white: #e5e5e5;
// $background-color__ivory: #fff5f6;

.about-section {
  outline: 1px solid red;

  background-color: $background-color__ivory;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 125px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1201px) {
    padding-top: 125px;
  }
}

.about-container {
  outline: 1px solid green;
}

.about-section__label {
  font-family: Titan One;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-color__pale-pink;

  padding-bottom: 15px;
}

.about-section__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $main-color__bright-pink;

  padding-bottom: 102px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 26px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1201px) {
    padding-bottom: 55px;
  }
}

.about-section__main-info {
  outline: 1px solid red;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1201px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.about-section__img {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 46px;
  }
}

.about-section__descriptions {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-left: 17px;
    padding-right: 21px;
  }
  @media screen and (min-width: 1201px) {
    padding-left: 74px;
    padding-right: 102px;
  }
}
.about-section__first-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.04em;

  color: $main-color__black;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 162%;
    margin-bottom: 47px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 14px;
    line-height: 176%;

    margin-bottom: 49px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 16px;
    line-height: 176%;

    margin-bottom: 35px;
  }
}

.about-section__second-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.04em;

  color: $main-color__grey;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 162%;

    margin-bottom: 47px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    ont-size: 14px;
    line-height: 176%;

    margin-bottom: 62px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 14px;
    line-height: 194%;

    margin-bottom: 45px;
  }
}

// button {
//   border: transparent;
//   font-family: inherit;
//   cursor: pointer;
//   border-radius: 4px;
//   padding: 10px 32px;
//   text-align: center;
// }

.about__button {
  border: transparent;
  font-family: inherit;

  padding: 10px 32px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;

  display: flex;
  align-items: center;
  text-align: center;

  color: $main-color__bright-pink;
  background-color: $main-color__white;

  border-radius: 22px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;

    margin-bottom: 39px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 66px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 146px;
  }
}

.about-section__list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
  }
  @media screen and (min-width: 1201px) {
    display: flex;
  }
}

.about-section__list .about-section__item + .about-section__item {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 1201px) {
    margin-left: 60px;
  }
}

.about-section__icon {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1201px) {
    margin-bottom: 40px;
  }
}

.about-section__number {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  color: $main-color__bright-pink;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
  }
}

.about-section__third-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;

  color: $main-color__black;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 170%;
    margin-bottom: 38px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1201px) {
    font-size: 16px;
    line-height: 176%;

    letter-spacing: 0.02em;
  }
}
