.advantages {
  background-color: $background-color__ivory;
  width: 100%;
  padding: 39px 70px 97px 20px;
}

.advantages__content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__title {
  display: none;
}

.advantages__numbers {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-color__bright-pink;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 66px;
}

.advantages__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  color: $main-color__black;
}

.advantages__milk {
  position: relative;
}

.advantages__milk::before {
  position: absolute;
  content: '';
  width: 33px;
  height: 50px;
  left: 0;
  top: 0;
  background-image: url(../images/advantages/adv1_1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    object-fit: contain;
    background-image: url(../images/advantages/adv1_2x.png);
    background-size: contain;
  }
}

.advantages__fruits {
  position: relative;
  margin-top: 38px;
}

.advantages__fruits::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  background-image: url(../images/advantages/adv2_1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/advantages/adv2_2x.png);
    background-size: contain;
  }
}

.advantages__candy {
  position: relative;
  margin-top: 38px;
}

.advantages__candy::before {
  position: absolute;
  content: '';
  width: 44px;
  height: 50px;
  left: 0;
  top: 0;
  background-image: url(../images/advantages/adv3_1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/advantages/adv3_2x.png);
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 66px 76px 136px 36px;
  }

  .advantages__content {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  .advantages__numbers {
    font-size: 48px;
    line-height: 1.15;
    padding-top: 86px;
    margin-bottom: 13px;
  }

  .advantages__description {
    font-size: 14px;
    line-height: 1.74;
  }

  .advantages__milk {
    margin-right: 60px;
  }

  .advantages__fruits {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 39px 115px 139px 115px;
  }

  .advantages__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-grow: 1;
  }

  .advantages__numbers {
    font-size: 58px;
    line-height: 1.15;
    padding-top: 90px;
    margin-bottom: 15px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 1.77;
    letter-spacing: 0.02em;
  }

  .advantages__milk {
    margin-right: 30px;
  }

  .advantages__fruits {
    margin-right: 30px;
  }
}
