// Backdrop
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 93px 20px 0 20px;
  overflow-y: scroll;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden &__modal {
  }

  &__modal {
    position: relative;
    padding: 30px 20px 40px 20px;
    background-color: $background-color__ivory;
    border-radius: 5px;

    @media screen and (min-width: $mobile) {
      position: absolute;
      padding: 40px 40px 50px 40px;
      top: 50%;
      left: 50%;
      width: 440px;

      transform: translate(-50%, -50%);
    }

    @media screen and (min-width: $desktop) {
      width: 480px;
    }
  }

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;
    cursor: pointer;

    // border: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 50%;
  }

  &__close-ico {
    width: 18px;
    height: 18px;
    fill: $main-color__black;
  }

  &__close-ico:hover,
  &__close-ico:focus {
    fill: $main-color__bright-pink;
  }
}

// Form
.form {
  &__title {
    font-family: 'Titan One', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: $main-color__pale-pink;

    text-align: center;
    margin-bottom: 15px;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
    }
  }

  &__sub-title {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: $main-color__grey;
    margin-bottom: 15px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      width: 80%;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #222;
  }

  &__input {
    height: 40px;
    margin: 0;
    padding: 0 0 0 42px;
    color: $main-color__grey;

    border: 1px solid rgba(255, 165, 186, 0.3);
    border-radius: 4px;
  }

  &__label {
    font-size: 14px;
    line-height: 1.2;
    color: $main-color__grey;

    margin-bottom: 4px;
    padding-left: 3px;
  }

  &__field:focus-within > &__ico {
    fill: $main-color__pale-pink;
  }

  &__ico {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 11px;

    fill: $main-color__grey;
  }

  &__btn {
    display: inline-block;
    // width: 280px;
    padding: 12px 37px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $main-color__white;
    background-color: $main-color__bright-pink;
    border-radius: 22px;
    z-index: 2;

    &:hover,
    &:focus {
      color: $main-color__white;
      background-color: $primary-button-hover;
      box-shadow: $button-shadow;
    }
  }

  &__comment {
    resize: none;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  &__comment::placeholder {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(117, 117, 117, 0.5);
  }

  &__field--textarea-block {
    margin-bottom: 20px;
  }
  &__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.15;
  }

  &__checkbox {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    /* appearance: none;
  position: absolute; */
  }

  &__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    background-color: $background-color__ivory;
    border: 2px solid $main-color__grey;
    border-radius: 2px;
  }

  &__checkbox:checked + &__checkbox-icon {
    background-color: $main-color__grey;
    border-color: $main-color__grey;
    background-origin: border-box;
  }

  &__conditions-link {
    color: $main-color__grey;
    margin-left: 5px;
  }

  &__button-block {
    text-align: center;
  }
}
