.gallery__img {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #fff 60%, #fff5f6 60%);
}

.gallery {
  padding: 0;
  width: 100%;
  // padding: 0 15px;
  margin: 0 auto;
}
.gallery__picture {
  width: 100%;
}
