.gallery__img {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #fff 60%, #fff5f6 60%);
}

.gallery {
  padding: 0;
  width: 100%;
  // padding: 0 15px;
  margin: 0 auto;
}
@media screen and(min-width:1200px) {
  .gallery__img {
    display: none;
  }
}
.gallery-animation {
  display: none;
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to top, #fff 60%, #fff5f6 60%);
  }
}
.gallery__picture {
  width: 100%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  max-width: 139px;
  position: relative;
  max-height: 139px;
  margin: 2.5px;
  /* width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  border: 1px solid blue; */
}
.box-big {
  max-width: 250px;
  max-height: 250px;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
}
.box-big::after {
  content: ' ';
  position: absolute;
  background-color: black;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  pointer-events: none;
  z-index: 0;
}

.box-img {
  border-radius: 20px;
  max-width: 139px;

  max-height: 139px;
  margin: 2.5px;

  transform: scale(1);
  z-index: 0;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box-img:hover {
  transform: scale(2);
  z-index: 22;
  box-shadow: rgb(248, 246, 246) 0px 22px 70px 4px;
}
.box::after {
  content: ' ';
  position: absolute;
  background-color: black;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 139px;
  border-radius: 20px;
  pointer-events: none;
  z-index: 0;
}
.big {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
  transform: scale(1);

  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.big:hover {
  transform: scale(1.5);
  z-index: 22;
  box-shadow: rgb(248, 246, 246) 0px 22px 70px 4px;
}
.position {
  display: flex;
  flex-direction: column;
}
.colum-4 {
  margin-top: 97px;
}
.colum-1 {
  margin-top: 141px;
}
.colum-2 {
  margin-top: 86px;
}
.colum-5 {
  margin-top: 51px;
}
.colum-6 {
  margin-top: 154px;
}
