// Hero section
.hero {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #ffb8ca;

  @media screen and (max-width: $tablet - 1px) {
    background-image: url(../images/header/circle346.png);
    background-position: right 0 bottom 75px;
    background-repeat: no-repeat;
  }

  // @media screen and (min-device-pxel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   background-image: url(..//..//..//src/images/header/circle346@2x.png);
  // }

  & .container {
    position: relative;
    height: 502px;
    background-repeat: no-repeat;

    @media screen and (max-width: $tablet - 1px) {
      max-width: $mobile;
      padding: 0 20px;
    }

    @media screen and (min-width: $tablet) {
      width: $tablet;
      height: 399px;
      padding: 0 34px;
      background-image: url(../images/header/circle324.png);
      background-position: right 137px bottom 46px;

      // @media screen and (min-device-pxel-ratio: 2),
      //   screen and (min-resolution: 192dpi),
      //   screen and (min-resolution: 2dppx) {
      //   background-image: url(..//..//..//src/images/header/circle324@2x.png);
      // }
    }

    @media screen and (min-width: $desktop) {
      width: $desktop;
      height: 665px;
      padding: 0 46px;
      background-image: url(../images/header/circle538.png);
      background-position: right 267px bottom 75px;

      // @media screen and (min-device-pxel-ratio: 2),
      //   screen and (min-resolution: 192dpi),
      //   screen and (min-resolution: 2dppx) {
      //   background-image: url(..//..//..//src/images/header/circle538@2x.png);
      // }
    }
  }

  &__wrapper {
    padding: 137px 0 0 0;
    // z-index: 2;

    @media screen and (min-width: $tablet) {
      padding: 15px 0 0 0;
    }
  }

  &__title {
    font-family: 'Titan One', 'Arial', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 0;
  }

  &__title-decoration {
    font-size: 47px;
    color: #d41443;
  }

  &__button {
    @extend %link;

    &.btn {
      font-size: 8px;
      line-height: 1.25;
      padding: 7px 14px;
      color: #fff;
      background-color: #d41443;
      border-radius: 20px;
    }

    &.btn:hover,
    &.btn:focus {
      background-color: #c7133e;
    }

    &.btn-revers {
      font-size: 8px;
      line-height: 1.25;
      padding: 7px 14px;
      color: #d41443;
      background-color: #fff;
      border-radius: 20px;
    }

    &.btn-revers:hover,
    &.btn-revers:focus {
      background-color: #ecebeb;
    }
  }

  &__butto:first-child {
    margin-right: 8px;
  }

  &__main-img {
    position: absolute;
    display: block;
    width: 171px;
    right: 32px;
    bottom: 0px;
    //   z-index: 1;

    @media screen and (min-width: $tablet) {
      width: 143px;
      right: 247px;
    }

    @media screen and (min-width: $desktop) {
      width: 236px;
      right: 450px;
    }
  }
}
