.mobile-menu {
  @media screen and (max-width: $desktop - 1px) {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 502px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 100ms linear, visibility 100ms linear;
  }

  @media screen and (min-width: $tablet) {
    height: 1020px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  &__content {
    position: absolute;
    width: 250px;
    right: 0;
    top: 0;
    padding: 60px 0;
    height: 100%;
    text-align: center;
    background-color: $mob-menu-background;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    transform: translateX(100%);
    transition: transform 200ms linear 100ms;

    z-index: 998;

    @media screen and (min-width: $tablet) {
      width: 254px;
      height: 1020px;
    }
  }

  &.is-open &__content {
    transform: translateX(0);
  }

  &__button {
    display: block;
    width: 209px;
    padding: 12px 49px;
    margin: 0 auto 19px auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    color: $main-color__bright-pink;
    background-color: $main-color__white;
    border-radius: 22px;

    // &::after {
    // }

    &:hover,
    &:focus {
      background-color: $secondary-button-hover;
      box-shadow: $button-shadow;
    }

    @media screen and (min-width: $tablet) {
      width: 186px;
    }
  }

  &__button-text {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__button-text::after {
    content: '>';
    position: absolute;
    height: 90%;
    right: 0;
    margin-left: 14px;
  }

  &__list {
    @extend %list;
  }

  &__item {
    padding: 12px 20px;
    text-align: left;
  }

  &__item:nth-child(2n - 1) {
    border-top: 1px solid $mob-menu-border;
    border-bottom: 1px solid $mob-menu-border;
  }

  &__link {
    @extend %link;
    color: $main-color__white;

    &:hover,
    &:focus {
      color: $main-color__bright-pink;
    }
  }
}
