// Nav block
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
  }

  &__logo {
    display: block;
  }

  &__desktop-menu {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__menu-item {
    z-index: 2;
  }

  &__menu-item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    font-size: 16px;
    @extend %link;
    color: $main-color__white;

    &:hover,
    &:focus {
      color: $main-color__bright-pink;
    }
  }

  &__menu-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__button {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      width: 160px;
      padding: 12px 37px;
      margin-left: 30px;

      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;

      color: $main-color__bright-pink;
      background-color: $main-color__white;
      border-radius: 22px;
      z-index: 2;

      // &::after {
      // }

      &:hover,
      &:focus {
        background-color: $secondary-button-hover;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-left: 110px;
      margin-right: 69px;
    }
  }

  &__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 999;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__menu-button &__icon-cross {
    display: none;
  }

  &__menu-button.is-open &__icon-cross {
    display: block;
  }

  &__menu-button.is-open &__icon-menu {
    display: none;
  }

  &__menu-button.is-open {
    position: absolute;
    top: 23px;
    right: 28px;
    @media screen and (min-width: $tablet) {
      top: 23px;
      right: 34px;
    }
  }

  &__menu-button.is-open ~ &__button {
    display: none;
  }

  &__menu-icon {
  }

  &__icon-menu {
  }

  &__icon-cross {
  }
}
