// Nav block
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &__logo-link {
  }

  &__logo {
    display: block;
  }

  &__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    z-index: 999;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__menu-button &__icon-cross {
    display: none;
  }

  &__menu-button.is-open &__icon-cross {
    display: block;
  }

  &__menu-button.is-open &__icon-menu {
    display: none;
  }

  &__menu-icon {
  }

  &__icon-menu {
    width: 20px;
    height: 12px;
    color: currentColor;
  }

  &__icon-cross {
    width: 14px;
    height: 14px;
    color: currentColor;
  }
}
