// Nav block
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
  }

  &__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    z-index: 999;
  }

  &__menu-button &__icon-cross {
    display: none;
  }

  &__menu-button.is-open &__icon-cross {
    display: block;
  }

  &__menu-button.is-open &__icon-menu {
    display: none;
  }

  &__menu-icon {
  }

  &__icon-menu {
    width: 20px;
    height: 12px;
    color: currentColor;
  }

  &__icon-cross {
    width: 14px;
    height: 14px;
    color: currentColor;
  }

  &__mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    padding: 60px 0;
    background-color: #e17992;

    &.is-open {
      display: block;
      z-index: 998;
    }
  }

  &__button {
    max-width: 209px;
    width: 100%;
    padding: 12px 49px;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 20px;

    &::after {
    }
  }

  &__list {
    @extend %list;
  }

  &__item {
    padding: 12px 20px;
    text-align: left;
  }

  &__item:nth-child(2n - 1) {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }

  &__link {
    @extend %link;
    color: #fff;

    &:hover,
    &:focus {
      color: #d41443;
    }
  }
}
