.section-ice {
  padding: 121px 0px 98px 0px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  font-family: Titan One, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: $main-color__pale-pink;
  text-align: center;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.container-title-ice {
  font-size: 34px;
  font-family: Titan One, sans-serif;
  line-height: 1.15;
  color: $main-color__bright-pink;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.products {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * 20px) / 3);
      margin-right: 10px;
      margin-left: 10px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 24px) / 3);
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  &__container--icecream {
    position: relative;
    margin-top: 144px;

    @media screen and (min-width: 768px) {
      margin-top: 150px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 259px;
    }
  }
  &__container--icecoffee {
    position: relative;
    margin-top: 130px;

    @media screen and (min-width: 768px) {
      margin-top: 150px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 259px;
    }
  }
  &__container--milkshakes {
    position: relative;
    margin-top: 129px;

    @media screen and (min-width: 768px) {
      margin-top: 150px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 259px;
    }
  }

  &__card {
    border-radius: 24px;
    padding-left: 41px;
    padding-right: 39px;
    width: 100%;

    @media screen and (max-width: 767px) {
      max-width: 280px;
      padding-bottom: 41px;
    }
    @media screen and (min-width: 768px) {
      padding-left: 11px;
      padding-right: 11px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 44px;
      padding-right: 45px;
      padding-bottom: 50px;
    }

    &--icecream {
      background-color: $background-color__pink;

      &::before {
        content: '';
        background-position: center;
        display: inline-block;
        height: 252px;
        width: 249px;
        background-size: contain;
        position: absolute;
        transform: translate(-10%, -45%);
        @media screen and (min-width: 320px) and (max-width: 767px) {
          background-image: url(../images/products/home-pic1-m@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic1-m@2x.png);
          }
        }

        @media screen and (min-width: 768px) {
          height: 226px;
          width: 220px;
          transform: translate(-5%, -46%);
          background-image: url(../images/products/home-pic1-t@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic1-t@2x.png);
          }
        }

        @media screen and (min-width: 1200px) {
          height: 335px;
          width: 335px;
          transform: translate(-10%, -63%);
          background-image: url(../images/products/home-pic1-d@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic1-d@2x.png);
          }
        }
      }
    }

    &--icecoffee {
      background-color: $main-color__coffee;

      &::before {
        content: '';
        background-position: center;
        display: inline-block;
        height: 252px;
        width: 249px;
        background-size: contain;
        position: absolute;
        transform: translate(-10%, -45%);
        @media screen and (min-width: 320px) and (max-width: 767px) {
          background-image: url(../images/products/home-pic2-m@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic2-m@2x.png);
          }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          height: 233px;
          width: 220px;
          transform: translate(-3%, -46%);
          background-image: url(../images/products/home-pic2-t@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic2-t@2x.png);
          }
        }

        @media screen and (min-width: 1200px) {
          height: 335px;
          width: 337px;
          transform: translate(-8%, -63%);
          background-image: url(../images/products/home-pic2-d@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic2-d@2x.png);
          }
        }
      }
    }

    &--milkshakes {
      background-color: $main-color__green;

      &::before {
        content: '';
        background-image: url(../images/products/home-pic3-m@2x.png);
        background-position: center;
        display: inline-block;
        height: 252px;
        width: 249px;
        background-size: contain;
        position: absolute;
        transform: translate(-10%, -45%);
        @media screen and (min-width: 320px) and (max-width: 767px) {
          background-image: url(../images/products/home-pic3-m@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic3-m@2x.png);
          }
        }

        @media screen and (min-width: 768px) {
          height: 224px;
          width: 220px;
          transform: translate(-3%, -46%);
          background-image: url(../images/products/home-pic3-t@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic3-t@2x.png);
          }
        }

        @media screen and (min-width: 1200px) {
          height: 335px;
          width: 335px;
          transform: translate(-7%, -63%);
          background-image: url(../images/products/home-pic3-d@1x.png);
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/products/home-pic3-d@2x.png);
          }
        }
      }
    }
  }
  &__title {
    font-family: Titan One, sans-serif;
    font-size: 20px;
    line-height: 1.14;
    color: $main-color__white;
    text-align: center;
    padding-top: 161px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      padding-top: 152px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 163px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
    color: $main-color__white;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      line-height: 1.8;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 62px;
    }

    &::before {
      content: '';
      display: block;
      background-position: center;
      width: 26px;
      height: 6px;
      background-image: url(../images/products/points.svg);
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: transparent;
    width: 40px;
    height: 40px;
    background-image: url(../images/products/arrow-right.png);
    cursor: pointer;
  }
}

.products__button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.products__card--icecream:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  transform: translate(-10%, -55%);

  @media screen and (min-width: 768px) {
    transform: translate(-5%, -56%);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(-10%, -73%);
  }
}

.products__card--icecoffee:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  transform: translate(-10%, -55%);

  @media screen and (min-width: 768px) {
    transform: translate(-3%, -56%);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(-8%, -73%);
  }
}

.products__card--milkshakes:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  transform: translate(-10%, -52%);

  @media screen and (min-width: 768px) {
    transform: translate(-3%, -56%);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(-7%, -73%);
  }
}

.products__card--icecream:hover,
.products__card--icecoffee:hover,
.products__card--milkshakes:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
// ------Modal---------

.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1001;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  margin-right: auto;
  position: relative;
  left: 50%;
  top: 50%;
  background-color: $background-color__ivory;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  max-width: 450px;
  height: 609px;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 528px;
    height: 581px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: $main-color__bright-pink;
    font-family: Titan One, sans-serif;
    line-height: 1.14;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    color: $main-color__grey;
  }
}
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid $main-color__grey;
  background-color: $background-color__ivory;

  &.modal__button {
    position: absolute;
    top: 18px;
    right: 18px;
  }
}
.icon-close {
  width: 11px;
  height: 11px;
  fill: $main-color__grey;
}
.icon-close:hover,
.icon-close:focus {
  fill: $main-color__bright-pink;
  cursor: pointer;
}
